:root{
    --base-color: rgb(26, 0, 67);
    --base2-color: rgb(103, 175, 247);
    --base3-color: rgb(199, 253, 255);
    --contrast-color: rgb(195, 255, 65);
}

@font-face{

    font-family: "Leveling";
    src: url("fonts/Agenda-Medium.otf") format("opentype");
}

*{
    padding:0;
    margin:0;
    border:0;
    gap:0;

    color:var(--base2-color);
    font-family: "Leveling";
    font-size:14pt;

    border-radius: 3px;
    
    border: solid 0.1px var(--contrast-color); 
}

body{
    background-color: var(--base-color);
    border: solid 0.1px red; 

    max-width:450px;
    max-height:850px;

    margin:auto;
    padding:15px;

    overflow: hidden;
}

.app{

    display: flex;
    flex-direction: column;
    gap:20px;

    overflow: hidden;
}

.img-system{
    width:15%;
    height:auto;
    margin:5px;
}
.system-btn{
    width:100%;
    height:auto;

    display: flex;
    flex-direction: row;
    gap:10px;

    align-items: center;
    justify-content: center;

    background-color: var(--base-color);
    border:solid 0.5px var(--base2-color);

    font-weight: bold;
    text-transform: uppercase;

}

.advice_mode-content{

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap:10px;
}

.mode-content{
    width:35%;
    
}

.advice-content{
    width:60%;
    height:100%;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.advice-icon{
    width:8%;
    height:auto;
}

.status-content{
    
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

progress{
    width:200px;
    height:12px;
    border-color:var(--base2-color);
}

.bars-content{


    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width:65%;

}

.fatigue-content{
    

    width:32%;
    
    display:flex;
    gap:10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.fatigue-icon{
        display:inline-block;

        width: 40px; /* Tamaño del aro */
        height: 40px;
        border-radius: 50%;
        background: conic-gradient(
            var(--base-color) 0% 70%,  /* Primer color hasta el 50% */
            #ff5733 50% 100% /* Segundo color desde el 50% */
        );
        position: relative;
    
    }

    .fatigue-icon::before {
        content: "";
        position: absolute;
        width: 60%;  /* Tamaño del agujero */
        height: 60%;
        background-color: var(--base-color); /* Color del centro */
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }  

.fatigue-porcent{
    font-size: 10vw;
}


.hide{
  display:none;

}


.main-content{
    background-color: var(--contrast-color);
    height:500px;
}
.main-screen{
    background-color: pink;
}

.footer-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;

    justify-content: center;
    align-items: center;
}
.system-content{
    width:70%;
    
    display: flex;
    flex-direction: row;
    gap:10px;

    justify-content: flex-end;
}

.option-btn{
    width:40%;
    height:auto;

    display: flex;
    flex-direction: row;
    gap:10px;

    align-items: center;
    justify-content: center;

    background-color: var(--base-color);
    border:solid 0.5px var(--base2-color);

    font-weight: bold;
    text-transform: uppercase;

}
.help-content{
    width:15%;

    text-align: right;
    padding: 2px;
}